= link_to post, class: "card mb-2 w-100  hvr-backward link_to-block" do
  %div.row.g-0
    %div.col-md-0.col-lg-4.sm-x.d-md-none.d-lg-flex.justify-content-center.align-items-center.bg-secondary.text-white
      %i.fab.display-6{class: "fa-#{post.tags[0]}"}
    %div.col-md-12.col-lg-8
      %div.card-body
        %h6.card-title= post.title
        %small.text-muted
          = post.created_at.strftime("%Y/%m/%d")