- links = [[" Github", "https://github.com/izszzz", "fa-github"],  [" Twitter", "https://github.com/izszzz", "fa-twitter"], ["MENTA", "https://github.com/izszzz", ""], ["Carbonmade", "https://github.com/izszzz", ""]]

%h1 iz profile
%ul.list-group
  %li.list-group-item 2000/10/5
  %li.list-group-item 都内在住
  %li.list-group-item WEB Programming/Compose

%h2.mt-5 Link
%ul.list-group
  - links.each do |name, path, classname|
    = link_to name, path, class: "fab list-group-item list-group-item-action " + classname

%h2.mt-5 Skill

%div#accordionLang.accordion

  %div.accordion-item
    %h6#headingOne.accordion-header.bg-white
      %button.accordion-button{type: "button", "data-toggle" => "collapse", "data-target" => "#collapseOne", "aria-expanded" => "true", "aria-controls" => "collapseOne"}
        %i.devicon-ruby-plain.colored.pr-3
        Ruby
    %div#collapseOne.accordion-collapse.collapse.show{"aria-labelledby" => "headingOne", "data-parent" => "#accordionLang"}
      %div.accordion-body.bg-white
        %ul.list-group
          %li.list-group-item Ruby on Rails(API)

  %div.accordion-item
    %h6#headingTwo.accordion-header.bg-white
      %button.accordion-button.collapsed{type: "button", "data-toggle" => "collapse", "data-target" => "#collapseTwo", "aria-expanded" => "false", "aria-controls" => "collapseTwo"}
        %i.devicon-nodejs-plain.colored.pr-3
        Node.js
    %div#collapseTwo.accordion-collapse.collapse{"aria-labelledby" => "headingTwo", "data-parent" => "#accordionLang"}
      %div.accordion-body.bg-white
        %ul.list-group
          %li.list-group-item.devicon-typescript-plain Typescript
          %li.list-group-item.devicon-express-original Express
          %li.list-group-item.devicon-electron-original Electron
          %li.list-group-item.devicon-react-plain React/ReactNative/Vue
          %li.list-group-item Next.js
          %li.list-group-item.devicon-redux-original ReduxToolkit

  %div.accordion-item
    %h6#headingThree.accordion-header.bg-white
      %button.accordion-button.collapsed{type: "button", "data-toggle" => "collapse", "data-target" => "#collapseThree", "aria-expanded" => "", "aria-controls" => "collapseThree"}
        %i.devicon-python-plain.colored.pr-3
        Python
    %div#collapseThree.accordion-collapse.collapse{"aria-labelledby" => "headingThree", "data-parent" => "#accordionLang"}
      %div.accordion-body.bg-white
        %ul.list-group
          %li.list-group-item Flask
          %li.fab.fa-raspberry-pi.list-group-item=" Raspberry pi"
          %li.list-group-item pybleno

