- posts = [["関連記事", related_posts], ["最新記事", latest_posts]]
- lists = [["カテゴリ", categories], ["タグ", tags]]

- posts.each do |title, posts|
  %h4.mb-2= title
  %div.mb-5
    - posts.each do |post|
      = render "posts/card/card-sm-x", post:post

-lists.each do |title, lists|
  %h4.mb-2= title
  = render "sidebar_list", lists: lists
