- posts = [["関連記事", post.related], ["最新記事", post.latest]]
- lists = [["カテゴリー", categories], ["タグ", tags]]

- posts.each do |title, posts|
  %h4.mt-5.mb-2.border-bottom= title
  - posts.each do |post|
    = render "posts/card/card-sm-x", post:post

-lists.each do |title, lists|
  %h4.mt-5.mb-2.border-bottom= title
  = render "sidebar_list", lists: lists
