%h1 カテゴリ 
%div.list-group.mb-3
  - @categories.each do |category|
    = link_to category.name, posts_path(q: {title_or_tags_name_or_categories_name_cont: category.name}), class: "list-group-item list-group-item-action" 