%p#notice= notice 

%h1 記事一覧

- if admin_signed_in?
  = link_to 'New Post', new_post_path, class: "btn btn-primary"

%div.row.row-cols-1.row-cols-md-2.g-4
  - @posts.each do |post|
    = render "card", post: post

