// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.social-share-button .ssb-icon
    $size: 24px
    background-size: $size $size
    height: $size
    width: $size
// rouge
.highlight
    margin: 30px 0
    pre
        padding: 10px
// jquery-ui
.autocomplete-link
    color: inherit
    font-size: 18px
    text-decoration: none

.link_to-block
    color: inherit
    text-decoration: none
    &:hover
        color: inherit

.post-show-img
    height: 300px

.sm-x.post-card-img
    min-height: 50px
    font-size: 30px

.sm-y.post-card-img
    min-height: 130px
    width: 100%
    font-size: 30px


