%header
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
        %div.container-fluid
            = link_to "izszzz", "#", class: "navbar-brand"
            %div.collapse.navbar-collapse.id="navbarNav"
                %ul.navbar-nav
                    %li.nav-item= link_to "Home", "#", class: "nav-link"
                    %li.nav-item= link_to "Contact", "#", class: "nav-link"

