%header
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
        %div.container-fluid
            = link_to "izszzz", "#", class: "navbar-brand"
            %div#navbarNav.collapse.navbar-collapse
                %ul.navbar-nav
                    %li.nav-item= active_link_to "Home", root_path, class: "nav-link"
                    %li.nav-item= active_link_to "Posts", posts_path, class: "nav-link"
                    %li.nav-item= active_link_to "Contact", "contact_path", class: "nav-link"

