- paths = {"Home" => root_path, "Posts" => posts_path, "Contact" => static_pages_contact_path}

%header.mb-5
  %nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    %div.container-fluid
      = link_to "izszzz", root_path, class: "navbar-brand"
      %button.navbar-toggler{type: "button", "data-toggle" => "collapse", "data-target" => "#navbarToggler", "aria-controls" => "navbarToggler", "aria-expanded" => "false", "aria-label" => "Toggle navigation"}
        %span.navbar-toggler-icon
      %div#navbarToggler.collapse.navbar-collapse
        %ul.navbar-nav.me-auto.mb-2.mb-lg-0
          - paths.each do |label, path|
            %li.nav-item= active_link_to label, path, active: :exact, class: "nav-link"
          - if admin_signed_in?
            %div.btn-group.float-right
              = link_to 'New Post', new_post_path, class: "btn btn-primary"
              = link_to 'Sign Out', destroy_admin_session_path, method: :delete, class: "btn btn-danger"
